<% @comments.each do |comment| %>
  <div class="comment">
    <h4><%= comment.user.username %></h4>
    <p><%= comment.content %></p>
    <span class="timestamp"><%= comment.created_at.strftime("%d/%m/%Y %H:%M") %></span>
  </div>
<% end %>
